.DS_Store
.swp
.netrwhist
*.dat
init.elc
*~
#*#
auto-save-kist
kill-ring-saved.el
.vim/bundle/*
ac-comphist.dat
.emacs.d/server/server
.emacs.d/.scratch-log
.emacs.d/.scratch-log-prev
.emacs.d/srecode-map.el
.session
/.emacs.d/#init.el#
/.emacs.d/el-get/*
/.emacs.d/el-get/.loaddefs.el
/.emacs.d/el-get/.loaddefs.elc
/.emacs.d/el-get/.status.el
/.emacs.d/elpa/archives/tromey/archive-contents
/.emacs.d/elpa
/.screen/copybuffer
/.screen/copybuffer.txt
/.emacs.d/elpa/archives/gnu/archive-contents
/.emacs.d/elpa/archives/marmalade/archive-contents
/.vim/.vimwinpos
/screen.exe.stackdump
/.emacs.d/url/cookies
/.emacs.d/.winposize
/.emacs.d/.frameposize
*.elc
elisp/*.elc
/.emacs.d/tramp
/.emacs.d/inits/56_tramp-route.el
/.emacs.d/semanticdb/**
/.emacs.d/ede-projects.el
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o

/.emacs.d/abbrev_defs
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/.mc-lists.el
/.emacs.d/bookmarks
/.emacs.d/elpa/archives/melpa/archive-contents
/.emacs.d/last-wconf
/.emacs.d/wconf-archive

.config/fish/fish_history
.config/fish/fishd.*
/.emacs.d/helm-adaptive-history
/.emacs.d/.cask/
/.emacs.d/.emacs.desktop
/.emacs.d/.emacs.desktop.lock
/.emacs.d/elscreen
/.emacs.d/places
/.emacs.d/recentf
\#*\#
.emacs.d/ido.last
.emacs.d/smex-items
