[submodule ".vim/bundle/TwitVim"]
	path = .vim/bundle/TwitVim
	url = https://github.com/basyura/TwitVim.git
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/unite-grep"]
	path = .vim/bundle/unite-grep
	url = https://github.com/Sixeight/unite-grep.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-altercmd"]
	path = .vim/bundle/vim-altercmd
	url = git://github.com/tyru/vim-altercmd.git
