.DS_Store
.swp
.netrwhist
*.dat
init.elc
*~
#*#
auto-save-kist
kill-ring-saved.el
.vim/bundle/*
ac-comphist.dat
.emacs.d/server/server
.emacs.d/.scratch-log
.emacs.d/.scratch-log-prev
.emacs.d/srecode-map.el
.session
/.emacs.d/#init.el#
/.emacs.d/el-get/*
/.emacs.d/el-get/.loaddefs.el
/.emacs.d/el-get/.loaddefs.elc
/.emacs.d/el-get/.status.el
/.emacs.d/elpa/archives/tromey/archive-contents
/.screen/copybuffer
/.screen/copybuffer.txt
/.emacs.d/elpa/archives/gnu/archive-contents
/.emacs.d/elpa/archives/marmalade/archive-contents
/.vim/.vimwinpos
/screen.exe.stackdump
